<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista</title>
</head>
<body>
  <!--Creare un'applicazione per la gestione delle spese (Entrate/Uscite)
Di base l'applicazione deve fornire un input dove l'utente inserire una spesa/entrata
(Due input distinti oppure uno singolo e distinguere la spesa dall'entrata sfruttandp
il segno (+/-), oppure due pulsanti diversi, libero arbitrio)

Visualizzare la lista dei dati inseriti:
1) Dalla lista voglio avere la possibilità di eliminare un record
2) Voglio distinguere graficamente una spesa dall'entrata:
    Entrata: verde, Spesa: Rosso-->
    <h1>Gestione delle spese</h1>
    <section>
      
    </section>
    <div class="entrate-container">
      
      <app-componente-entrata></app-componente-entrata>
      <app-componente-uscita></app-componente-uscita>
    </div>
    
</body>
</html>